.footer {
  a {
    transition: 0.5s;
    &:hover {
      opacity: 0.7;
    }
  }
  li {
    line-height: 1.2;
  }
  &-nav {
    border-top: solid 1px $light;
    border-bottom: solid 1px $light;
    display: flex;
    justify-content: space-between;
    align-items: start;
    @include mobile {
      flex-direction: column-reverse;
    }
    img {
      width: 245px;
    }
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;

    &-wrapper {
      display: flex;
      align-items: center;
      // flex-wrap: wrap;

      @include pad {
        display: block;
      }
    }
    &-social {
      display: flex;
      margin-right: auto;
      @include mobile {
        order: 1;
      }
    }
    .link {
      align-items: center;
      @include mobile {
        // margin-left: 100px;
        margin-bottom: 36px;
      }
    }
  }
}

// * {
//   outline: solid 1px;
// }
